.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* height: 100%; */
  /* margin-left: 37%; */
  width: 40%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 3%;
  padding-right: 3%;
  background-color: rgba(245, 245, 220, 0.5);
}
.form-parent {
  margin-top: 20px;
  margin-left: -12px;
  /* width: ; */
  display: flex;
  justify-content: center;
  /* padding: 10%; */
}
input,
select {
  margin-bottom: 15px;
}
select {
  width: 170px;
}
button {
  background-color: green;
  color: white;
}
.element {
  display: flex;
  flex-direction: column;
}
label {
  color: blue;
}
